/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-13 {
  background-image: url(../sprite/spritesheet.png);
  background-position: -246px 0px;
  width: 124px;
  height: 120px;
}
.icon-31 {
  background-image: url(../sprite/spritesheet.png);
  background-position: -124px 0px;
  width: 122px;
  height: 124px;
}
.icon-75 {
  background-image: url(../sprite/spritesheet.png);
  background-position: 0px -124px;
  width: 122px;
  height: 126px;
}
.icon-76 {
  background-image: url(../sprite/spritesheet.png);
  background-position: 0px 0px;
  width: 124px;
  height: 124px;
}
.icon-77 {
  background-image: url(../sprite/spritesheet.png);
  background-position: -124px -124px;
  width: 120px;
  height: 126px;
}
